<%- include('header') %>
<%- include('menu') %>

<head>

    <title>Jobs</title>
</head>
    
<div>
        
    <div id="Jobs">
    <h3 id="formacao">Projeto</h3>
    <br />
    <div class="container">
      <img src="images/façaobemlogomaior.png" alt="logo" style="width:110px">
      <p><span>Faça o Bem</span> Bom Jesus/IELUSC</p>
      <p>6º Período</p>
    </div> 
    </div>
        
</div>
<br /><br /><br /><br /><br /> 
<%- include('footer') %>